body, html {
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: black;
    color: white;
}

#weather {
    width: 100%;
    height: 100%;
    display: normal; /* Enable flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    color: white;
    line-height:  .9;
    font-size: x-large;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    color: rgb(0, 153, 255);
    font-weight: bolder;
    font-style: oblique;
    
}
  
h3 {
    color: rgb(0, 238, 255);
    font-size: xx-large;
}

#topRightDiv {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 64px;
    z-index: 999; /* Any high number can be used to ensure this div is on top */
    margin: 15px 15px 15px 15px;
    color: greenyellow;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}